.Task-display-header {
  text-align: left;
  margin: 40px 20px 0px 20px;
}

.Zero-tasks-display {
  display: flex;
  color: #31363f;
  font-size: smaller;
  text-align: left;
  align-items: center;
  margin: 0px 0px 0px 10px;
}

.Section-display-container {
  margin: 0px 20px;
}
